.contenedor {
  margin: auto;
  padding: var(--margenes) 0;
  width: 90%;
  max-width: 1000px;
  text-align: center;
  overflow: hidden;
}

.contenedor h3 {
  font-size: var(--titulos);
  color: var(--color1);
  margin-bottom: var(--espacios);
}

.contenedor p {
  font-size: var(--subtitulos);
  font-weight: 300;
  color: var(--color1);
}