.botones-work {
  overflow: hidden;
}

.botones-work li {
  display: inline-block;
  text-align: center;
  margin-left: var(--espacios);
  margin-bottom: var(--espacios-contenido);
  padding: 6px 12px;
  border: 1px solid var(--color1);
  list-style: none;
  color: var(--color1);
}

.botones-work li:hover {
  background: var(--color1);
  color: #F2F2F2;
  cursor: pointer;
}

.botones-work .active {
  background: var(--color1);
  color: #F2F2F2;
}

.galeria-work {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cont-work {
  width: 31%;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
  height: 300px;
  overflow: hidden;
  margin-bottom: var(--espacios-contenido);
}

.img-work {
  height: 90%;
  width: 100%;
}

.img-work img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.textos-work {
  height: 10%;
}

.textos-work h4 {
  line-height: 30px;
  font-weight: 300;
}